
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/task_details.css' %}">
</head>
<body>
    <div class="card">
        <h3>Task : {{ tasks.task }}</h3>
        <p>{{tasks.description}}</p>
        <p class="status">{% if task.completed %}
            <a>Completed</a>
            {% else %}
            <a>Pending</a>
            {% endif %}
        </p>
    </div>
</body>
</html>

